@import url(http://fonts.googleapis.com/css?family=Fredoka+One);

/***************************************************
BODY
****************************************************/

*{
  box-sizing: border-box;

  color: #fff;
  margin: 0;
}

/* We tell all items to be 100% width */
header, #game-board, nav, .aside, footer {
  flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. game-controls
 * 3. main/game-board
 * 4. game-score
 * 5. footer
 */

body {
  text-align: center;
  background-color: seagreen;

  margin: 0;

  height:100%;
  width: 100%;
  min-height:100%;
  position:absolute;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

/* HEADER
***************************************************/
header{
  border-bottom: 6px solid rgba(20, 20, 20, .1);
  margin-bottom: 5px;
}

.grad {
  background: -webkit-linear-gradient(90deg, seagreen 0%, darkgreen 3%, darkgreen 97%, seagreen 100%); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, seagreen 0%, darkgreen 3%, darkgreen 97%, seagreen 100%); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(90deg, seagreen 0%, darkgreen 3%, darkgreen 97%, seagreen 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, seagreen 0%, darkgreen 3%, darkgreen 97%, seagreen 100%); /* Standard syntax */
}

h1{
  font-family: 'Fredoka One', Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 1px 0 seagreen,
               2px 2px 0 seagreen,
               3px 3px 0 seagreen,
               4px 4px 0 seagreen,
               5px 5px 0 seagreen,
               6px 6px 0 seagreen,
               7px 7px 0 seagreen,
               8px 8px 0 seagreen,
               9px 9px 0 seagreen;

    /*background-color: darkgreen;*/

    display: inline-block;
    padding: 10px 20px 15px 15px;
  }

  /* MAIN
  ****************************************************/
main{
  padding-bottom:40px;
}

  /* GAME-CONTROLS
  ****************************************************/
.btn {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;

  border: none;
  cursor: pointer;
  padding: 5% 10%;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.newgamebutton {
  border-radius: 5px;
  background: #007700;
  box-shadow: 0 6px darkgreen;
}

.hitbutton {
  border-radius: 25px;
  background: #770000;
  padding: 20px 25px;
  margin: 15px 15px;
  box-shadow: 0 6px darkred;
}

.passbutton {
  border-radius: 25px;
  background: #1122cc;
  padding: 20px 20px;
  margin: 15px 15px;
  box-shadow: 0 6px darkblue;
}

/* invisible class for hiding hit and pass buttons when not in use */
.invisible {
  display: none;
}


/* GAME-BOARD
****************************************************/
#game-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
}

#dealerHand {
  margin: 20px;
}

.game-title{
  font-family: 'Fredoka One', Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: normal;

  padding: 5px;
}

.playerHand {
 margin: 20px
}

.card {
  background-color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);;

  display: inline-flex;
  height: 89px;
  width: 64px;
  border-radius: 6px;
  margin: 10px 3px;
}

.bottom-right{
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: translate(36px, 0px) rotate(180deg) ;
  -moz-transform: translate(36px, 0x) rotate(180deg) ;
  -ms-transform: translate(36px, 0px) rotate(180deg) ;
  transform: translate(36px, 0px) rotate(180deg) ;
}

.spade, .club {
  color: #000;
}

.heart, .diam {
  color: #d33;
}

.hole{
  background-image: url(../images/ga-logo.png);
  background-size: contain;
}

.aside {
  display: inline-block;
}

/* GAME-SCORE
****************************************************/
#game-score{
  text-align: center;
  margin: 20px;
}

.wins {
  font-family: 'Fredoka One', Helvetica, sans-serif;
  font-size: 5em;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-family: Helvetica, sans-serif;
}

/* FOOTER
****************************************************/
footer{
  font-family: Helvetica, sans-serif;
  font-size: .75em;
  font-weight: lighter;
  background-color: darkgreen;

  border-top: 8px solid rgba(20, 20, 20, .1);

  width: 100%;
  height: auto;
  min-height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto 0px 0px 0px;
}

h2 {
  padding-top: 5px;
  margin: 0em;
}




/***************************************************
Media Query adjustments
****************************************************/


/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside {
    flex: 1 auto;
  }

  h1{
    font-size: 2em;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  #game-board { flex: 2 50%; }
  .aside { flex: 1 25% }
  footer  { flex: 4 auto; }

  h1{
    font-size: 3em;
  }

}
